.mybody {
	height: 100vh;
	max-width: 100%;
	text-align: center;
	margin: 0 auto;
	color: $font-color;
	font-family: $font-style;
	font-size: 19px;
	font-weight: 400;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}
h1 {
	color: royalblue;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: royalblue;
	}
}
h2 {
	text-align: center;
	// border-top: 1px solid black;
	// border-bottom: 1px solid black;
	// padding: 0px 0px 0;
	font-size: 2em;
	color: $heading-font-color;
	  
}

.line-above {
	display: block;
//   width: $content-width; /* 可根据需要调整横线的宽度 */
  margin-top: 10px;
  margin-bottom: 30px; /* 自定义上下间距 */
//   border: 1px solid #000; /* 可选，设置横线样式 */
}
.line-below {
	display: block;
//   width: $content-width; /* 可根据需要调整横线的宽度 */
  margin: 30px auto; /* 自定义上下间距 */
//   border: 1px solid #000; /* 可选，设置横线样式 */
}

h4 {
	font-weight: 500;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
	text-align: center;
	// padding: 20px 10px;
	font-size: 1.5em;
	margin-top: 10px; 
	margin-bottom: 0px;
}
a,
a:visited {
	color: royalblue;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: $link-color;
	text-decoration: underline;
}

header {
	padding: 0px 0px;
	text-align: center;
	margin: auto;
	height: 50vh;
	display: block;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.saying {
	top: 50%;
	left: auto;
	position: absolute;
	font-size: 2.4em;
	font-weight: 600;
	color:#fff;
}

main {
	padding: 0 0px;
	// left: 50%;
	max-width: 56%;
	margin: 0 auto;
	text-align: left!important;
	// margin: 0px auto;
}
time {
	color: #898989;
}
author {
	color: #898989;
}
.container {
	max-width: 100%;
	margin: 0px auto;
}


/* Aside */

aside {
	position: relative;
	top: 0;
	right: 0px;
	margin-top: 0px;
	width: 100%;
	height: 60px;
	z-index: 3;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	// box-shadow: 0px 0px 1px RGBA(4, 25, 54, .1);
	nav {
		// float: auto;
		max-width: 100%;
		max-height: 60px;
		padding: 20px 0;
		margin: auto;
		ul {
			// display: flex;
			margin: auto;
			padding: 0 5px;
			list-style: none;
			// max-width: 100%;
			max-height: 100%;
			white-space: nowrap;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			li {
				// float: left;
		        left: 22%;
				position: relative;
				display: inline-block;
				white-space: normal;
				a, a:visited {
					text-decoration: none;
					display: inline-block;
					padding: 10px 4px;
					font-family:  'Open Sans', sans-serif;
					font-weight: 600;
					font-size: 20px;
					line-height: 20px;
					margin-top: 0px;
					margin-bottom: 0px;
					box-shadow: 0;
					// color: $link-color;
					color: black;
					opacity: 0.8;
					&:hover,
					&:active {
						text-decoration: none;
						color: royalblue;
					}
				}
			}

		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}

.li-new {
	margin-left: 0px;
	float: left;
	left: 0;
	position: relative;
	display: inline-block;
	white-space: normal;
	a, a:visited {
		text-decoration: none;
		display: inline-block;
		padding: 10px 8px;
		font-family:  'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 30px;
		line-height: 20px;
		margin-top: 0px;
		margin-bottom: 0px;
		box-shadow: 0;
		// color: $link-color;
		color: black;
		opacity: 0.8;
		&:hover,
		&:active {
			text-decoration: none;
			color: royalblue;
		}
	}
}

.bkg_color{
	background-color: none;
}

.bkg_color_scrolled{
	// background-color: rgb(142, 142, 207);
	background-color: none;
	transition: background-color 0.2s ease-out;
}

footer_home {
	position: fixed;
	bottom: 0;
	right: 0;
	// background-color: #f8f8f8;
	padding: 5px;
	text-align: right;
	font-size: 12px;
	padding: 40px;
	color: royalblue;
}

.active {
	// background: $header;
	text-decoration: none;
	color: royalblue!important;
  }

.name {
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 20px 0;
	font-size: 1.6em;
}

figure {
	margin: 10px 0px 20px 20px;
	// top: 50px;
	// left: 100px;
	// right: 50px;
	width: 250px;
	height: auto;
}
.right{
	// float: ;
	margin: 10px auto;
	width: 250px;
	height: auto;
}
figcaption {
	text-align: center;
	font-size: 12px;
	color: black;
	margin-top: 2px; /* 调整与图片的距离 */
}

img {
	max-width: 100%;
	max-height: 100%;
}

.image_center{
	// display: block;
	margin: auto;
	width: 80vh;
	height: auto;
	max-width: 100%;
}

figure.highlight{
	float: left;
	display: inline-block;
	width: 100%;
	height: auto;
}


.image-container {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
  }

.image-container:before {
	content: "\“长风破浪会有时，直挂云帆济沧海\”";
	display: block;
	letter-spacing: 2px;
	font-size: 2.2em;
	font-style: italic;
	font-weight: 500;
	color: whitesmoke;
	position: absolute;
	top: 34%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.7;
}

.image-container:after {
	content: "Image Credit: NASA, ESA, B. Holwerda (University of Louisville)";
	display: block;
	// letter-spacing: 2px;
	font-size: 0.6em;
	font-weight: 500;
	color: whitesmoke;
	position: absolute;
	top: 97%;
	left: 75%;
	// transform: translate(-50%, -50%);
	opacity: 0.6;
}

.image-container img {
	object-fit: cover;
	z-index: 1;
  }

// .last-line {
// 	margin-bottom: 100px;
//   }

//   new-header {
// 	background-color: #333;
// 	color: #fff;
// 	padding: 10px;
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
//   }
  
.menu {
	display: none;
  }
 
@media (max-width: 900px) {

	.main-media {
		padding: 0 5%;
		max-width: 100%;
		margin: 0 auto;
		text-align: left!important;
	}

	main {
		padding: 0 0;
		// left: 50%;
		max-width: 100%;
		margin: 0 auto;
		text-align: left!important;
		// margin: 0px auto;
	}
	aside{
		display: none!important;
	}
	.menu-icon {
      display: flex;
	  z-index: 999;
	}
  
	.menu {
	  position: absolute;
	  top: 0px;
	  left: -100%;
	  width: 100%;
	  height: 50%;
	  background-color: #333;
	  display: inline-block; /* 显示抽屉式菜单 */
	  z-index: 3;
	//   visibility: hidden;
	  opacity: 1;
	}
    .new-header {
		background-color: #333;
		color: #fff;
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	  }
  
.menu-icon {
	cursor: pointer;
	display: block;
	padding: 10px;
	height: 30px;
	width: 30px;
  }
  
  
.icon {
	background-color: #fff;
	display: block;
	height: 2px;
	position: relative;
	transition: background-color 0.2s ease-out;
	width: 18px;
  }
  
.icon:before,
.icon:after {
	background-color: #fff;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	transition: all 0.2s ease-out;
	width: 100%;
  }
  
.icon:before {
	top: -6px;
  }
  
.icon:after {
	bottom: -6px;
  }
  

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
  }
  
.menu li {
	margin: 0;
	padding: 10px;
	text-align: center;
  }
  
.menu a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
  }
  
.menu a:hover, 
.menu a:active {
	  text-decoration: none;
	  color: royalblue;}

.menu.show {
	display: block;
	visibility: visible;
	opacity: 1;
	left: 0;
  }
  
.icon.active {
	background-color: transparent;
  }
  
.icon.active:before {
	transform: rotate(45deg);
	top: 0;
  }
  
.icon.active:after {
	transform: rotate(-45deg);
	bottom: 0;
  }	
	

.right{
	float: none;
	width: 250px;
	height: auto;
	margin: auto;
	// width: 80vh;
	height: auto;
	max-width: 100%;
}
  
}

  .footer_icons_v1 {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: none;
	padding: 10px;
	text-align: center;
	z-index: 999; /* 确保位于页面内容之上 */
  }


  .footer_icons_v2 {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: none;
	padding: 10px;
	text-align: center;
	z-index: 999; /* 确保位于页面内容之上 */
  }

  .icons {
	font-size: 24px;
	margin: 5px;
  }
  
  
// div {
// 	margin: 0;
// 	padding: 0;
// 	border: 0;
// 	font-size: 100%;
// 	font: inherit;
// 	vertical-align: baseline;
//   }

  .wrapper-container {
	min-height: calc(100vh - 100px);
	position: relative;
	text-align: center;
  }

  .wrapper-footer-yqz {
	// padding: 0px auto;
	position: absolute;
	bottom: -100px;
	width: 100vw;
	left: 0;
	height: 60px;
	background-color: #eee;
	text-align: center;
	display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; 
  }

  .footer {
	display: block;
	text-align: center;
	margin: 0;
	padding: 0px 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

//


//   .container-yqz {
// 	margin: 0 auto;
// 	max-width: 100%;
// 	padding: 0 10px;
// 	width: 100%;
//   }
