<!DOCTYPE html>
<html>
{% include head.html %}

<!-- <body> -->
<body class="mybody">
	 <div class="wrapper-container"> 
	<main>
		{% include header.html %}
		<div class="main-media">
		<article>
			{{ content }}
		</article>
		</div>
	</main>


	<div class="wrapper-footer-yqz">
	<footer class="footer">
		
		<!-- <hr /> -->
		<a href="mailto:llldawei@stu.xmu.edu.cn" aria-label="Email"><i class="fas fa-envelope icons" aria-hidden="true"></i></a>
		<a href="https://github.com/mr-irrationality" aria-label="Github" target="_blank"><i class="fab fa-github icons" aria-hidden="true"></i></a>
		<a href="https://orcid.org/0009-0000-5534-1935" aria-label="ORCID" target="_blank"><i class="fab fa-orcid icons" aria-hidden="true"></i></a>
		<a href="https://twitter.com/" aria-label="Twitter" target="_blank"><i class="fab fa-twitter icons" aria-hidden="true"></i></a>
		
	
	  </footer>
	</div>
	</div> 



</body>

</html>
